$transition-duration: 0.4s;
$primary-color: #0084ff;
$secondary-color: #0668c4;
$background-color: #e7e7e7;
$text-color: white;
$font-size: 22px;
$margin-bottom: 68px;
$title-font-size: 32px;
// $subtitle-font-size: 22px;
// $text-font-size: 22px;
// $footer-font-size: 14px