$transition-duration: 0.3s;
$primary-color: #18181B;
$secondary-color: #BF94FF;
$twitch-button-color: #9147FF;
$font-family-primary: "Roboto", "Arial", sans-serif;
$font-family-secondary: "Inter", "Arial", sans-serif;
