RewriteEngine On

<IfModule mod_deflate.c>
    # Отключаем сжатие для всех JSON-запросов к BlueMap
    SetEnvIf Request_URI "\.json$" no-gzip=1
    SetEnvIf Request_URI "/live/players\.json$" no-gzip=1
    SetEnvIf Request_URI "/live/markers\.json$" no-gzip=1
</IfModule>
# Если запрос к существующему файлу или папке (через симлинк) - отдаём его
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Если запрос к /maps/assets/ - отдаём статику напрямую
RewriteRule ^maps/assets/ - [L]

# Все остальные запросы направляем на sql.php
RewriteRule ^ /sql.php [L]