RewriteEngine On

# Если запрос к существующему файлу или папке - отдаём его
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Все остальные запросы направляем на sql.php
RewriteRule ^ /sql.php [L]