.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.textBlock {
  padding: 70px 60px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 18px;
  color: $secondary-color;
  // font-family: $font-family-secondary;
}

.text {
  font-family: $font-family-secondary;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
}

.image {
  height: 100%;

  & img {
    width: auto;
    height: 100%;
    object-fit: contain;
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    mask-image: linear-gradient(to right, transparent 0%, black 100%);
  }
}