.container {
  background-color: #0E0E10;
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #1e1e1e5d;
    -webkit-mask-image: url("@/assets/background.svg");
    mask-image: url("@/assets/background.svg");
    mask-repeat: repeat;
    mask-size: 120px 100px;
    z-index: -1;
  }
}

.content {
  max-width: 1480px;
  padding: 70px 20px 0;
  margin: 0 auto;
  overflow: auto;
}

.content>* {
  margin-bottom: 70px;
}

.slider {
  background-color: $primary-color;
  border-radius: 70px;
  overflow: hidden;

  :global(.swiper) {
    height: 400px;
  }

  :global(.swiper-slide) {
    text-align: center;
    overflow: hidden;
  }

  :global(.swiper-pagination-bullet) {
    background-color: white;
    opacity: 20%;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: $secondary-color;
    opacity: 100%;
  }
}

.description {
  &Title {
    margin-bottom: 24px;
    color: $secondary-color;
  }

  &Text {
    font-size: 21px;
    text-align: center;
  }
}

.border {
  margin-left: 135px;
  margin-right: 135px;
  height: 10px;
  background-color: #252527;
  border-radius: 24px;
}

.members {
  &Title {
    margin-bottom: 24px;
    color: $secondary-color;
  }

  &List {
    background-color: $primary-color;
    border-radius: 70px;
    padding: 55px 45px;
    overflow: hidden;
    box-sizing: content-box;

    :global(.swiper) {
      height: 200px;
    }

    :global(.swiper-pagination-progressbar) {
      top: auto;
      bottom: 0;
      left: 50%;
      width: 500px;
      height: 5px;
      transform: translateX(-50%);
      background-color: #626262;
      overflow: visible;
    }

    :global(.swiper-pagination-progressbar-fill) {
      background-color: $secondary-color;
    }
  }
}

.activity {
  display: flex;
  justify-content: space-between;

  &Block {
    width: 600px;
  }

  &Title {
    color: $secondary-color;
    margin-bottom: 24px;
  }

  &Text {
    padding: 56px 72px;
    background-color: $primary-color;
    border-radius: 70px;
  }

  &Content {
    font-size: 32px;
    line-height: 1.2;
    height: 100%;
    max-height: 342px;
    text-align: center;
    overflow: hidden;
  }
}

[id] {
  scroll-margin-top: 140px;
}

@media(max-width: 1260px) {
  .activity {
    &Text {
      padding: 44px 52px;
    }

    &Content {
      font-size: 24px;
      max-height: 232px;
    }
  }
}

@media(max-width:910px) {
  .description {
    &Title {
      font-size: 26px;
    }

    &Text {
      font-size: 18px;
    }
  }

  .members {
    &Title {
      font-size: 26px;
    }

    &List {
      padding: 34px 26px;
    }
  }

  .activityTitle {
    font-size: 26px;
  }

  [id] {
    scroll-margin-top: 108px;
  }
}

@media (max-width: 780px) {
  .activity {
    flex-direction: column;
    gap: 30px;

    &Block {
      width: auto;
    }

    &Text {
      padding: 22px 38px;
    }

    &Content {
      font-size: 22px;
      max-height: 160px;
    }
  }
}

@media(max-width: 510px) {
  .slider :global(.swiper) {
    height: 520px;
  }

  .membersList :global(.swiper) {
    height: 340px;
  }
}