.placeholder{
  width: 260px;
  height: 352px;
  background-color: #393939;
  border-radius: 12px;
}

.token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin-bottom: 8px;

  &Text {
    background-color: rgba(#323232, 0.27);
    border: 2px solid #5B5B5B;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &Copy {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: rgba(50, 50, 50, 0.27);
    border: 2px solid #5B5B5B;
    transition: border-color $transition-duration;
    width: 70px;
    cursor: pointer;

    &Active{
      color: #13b313;
    }

    &:hover,
    &:focus {
      border-color: #393939;
    }
  }

  &:last-of-type {
    margin: 0;
  }
}

@media(max-width:910px) {
  .token {
    width: 220px;

    &Text {
      font-size: 14px;
      max-width: 140px;
    }

    &Copy {
      font-size: 14px;
    }
  }
}
