.container{
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}